*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

:root {
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-regular: 16px;
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-semiregular: 1.5rem;
  --font-large: 2rem;
  --font-xl: 4rem;
  --font-semibold: 600;
  --color-grey : #e2e2e2;
  --color-grey-2: #cccccc;
  --color-error: #CC3636;
  --color-success: #38E54D;
  --font-color: #fff;
  --bg-color-1:#D8EFF0;
}

:focus{outline: none;}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(186,210,235,1) 0%, rgba(34,71,128,1) 100%, rgba(33,80,145,1) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: -webkit-fill-available;
}

.opacity-20{
  background-color: rgba(0,0,0,.2);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: box-shadow .2s ease;
}

.opacity-20:hover{
  box-shadow: rgba(240, 240, 240, 0.14) 0px 3px 8px;
}

.brighten-image{
  filter: brightness(0) invert(1);

}


.mainContainer{
  max-width: 800px;
  margin: 0 auto;
  position: relative
}

.header{
  padding: var(--spacing-small);
  font-size: var(--font-large);
  font-weight: var(--font-semibold);
  text-align: center;
  background-color: #142a4d;
  transition: background .5s ease;

}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background .5s ease;
}

/* mobile layout approach*/
#canvas{
  display: none;
}

.container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "search search"
    "errorMessage errorMessage"
    "underlinedInput underlinedInput"
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
  gap: var(--spacing-small);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background .5s ease;

}


.container > article {
  border-radius: var(--spacing-small);
  margin: var(--spacing-small);
  padding: var(--spacing-medium);
}


.searchBar{
  grid-area: search;
  position: relative;
  max-width: 100%;
  margin: var(--spacing-small);
  border-radius: var(--spacing-small) var(--spacing-small) 0 0 ;
}

#search {
  width: 100%;
  font-size: var(--font-semiregular);
  grid-area: underlinedInput;
  border: 0; 
  padding: var(--spacing-medium); 
  color: var(--font-color);
  background-color: transparent;
  border-bottom: 2px solid var(--color-grey-2);
}

#search::-webkit-search-cancel-button{
  appearance: none;
  height: var(--font-regular);
  width: var(--font-regular);
  cursor: pointer;
  background-image: url("./appImages/clear.svg");
  background-size: var(--font-regular);
  filter:grayscale(0)
  
}

#search::placeholder{
  color: var(--font-color);
  opacity: 60%;
}

#search ~ .focus-border {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--font-color);
  transition: 0.3s;
}
#search:focus ~ .focus-border {
  width: 100%;
  /* transition: 0.3s; */
}

#search::-webkit-calendar-picker-indicator {
  display: none !important;
}

.container  #location-denied{
  grid-area: errorMessage;
  margin: var(--spacing-small);
  font-weight: var(--font-semibold);
  color: var(--color-error);
}

#location-denied{
  max-height: 100%;
  display: block;
  overflow: hidden;
  transition: all 1s ease-out;
}

.hidden{
  max-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  transition: all .5s ease-in;
}

.h-divider{
  margin: 0 auto;
  /* height: 2px; */
  border-bottom: 2px solid var(--color-grey);
  opacity: 50%;
}

/* style related to current weather */

#current-forecast {
  grid-area: current;
  text-align: center;
}

#current-forecast .temp {
  font-size: var(--font-xl);
  margin: var(--spacing-regular);
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-forecast .city {
  font-size: var(--font-large);
  margin: var(--spacing-regular) auto;
}

#current-forecast .icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  padding: var(--spacing-medium);
}

#current-forecast .description {
  text-transform: capitalize;
}

#current-forecast .description,
#current-forecast .min-max-temp {
  font-size: var(--font-semiregular);
  font-weight: var(--font-semibold);
}

.min-max-temp .current-min-temp{
  opacity: 70%;
}

/* styles related to hourly forecast */
#hourly-forecast {
  grid-area: hourly;
  text-align: center;
}

#hourly-forecast .hourly-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(80px, 1fr);
  overflow-x: auto;
  margin: auto;
  grid-gap: var(--spacing-medium);
}

.hourly-container .h-block{
  display: inline-flex;
}
.hourly-container .h-block:after{
  content: "";
  display: inline-block;
  margin: auto 0;
  height: 70%;
  border-left: 2px solid var(--color-grey);
  opacity: 50%;
}

.hourly-container .h-block:last-child:after{
  display: none;
}

#hourly-forecast .hourly-container .time {
}

#hourly-forecast .hourly-container .icon {
  height: 80px;
  width: 80px;
  object-fit: contain;
  padding: var(--spacing-medium);
}
#hourly-forecast .hourly-container .hourly-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

#five-day-forecast {
  grid-area: fiveday;
  text-align: center;

}


#five-day-forecast .five-day-container {
  display: grid;
  grid-auto-flow: row;
}

.five-day-container .h-divider{
  width: 90%;
}


.five-day-container .h-divider:last-child{
  display: none;
}

.five-day-container .day-wise-forecast {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: var(--spacing-regular);
  place-items: center;
  padding: var(--spacing-medium);
}

.five-day-container .day-wise-forecast .temp-low,
.five-day-container .day-wise-forecast .temp-high {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

.five-day-container .day-wise-forecast .temp-low {
  opacity: 70%;
}

.five-day-container .day-wise-forecast .icon {
  width: 60px;
  height: 60px;
  padding: var(--spacing-medium);
}

#feels-like,
#humidity {
  font-weight: var(--font-semibold);
}


.feels-like-temp,
.humidity-value {
  font-size: var(--font-semiregular);
}

#feels-like {
  grid-area: feelslike;
  text-align: center;
}

#humidity {
  grid-area: humidity;
  text-align: center;
}

@media (width >= 650px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "search search search search"
      "errorMessage errorMessage errorMessage errorMessage"
      "underlinedInput underlinedInput underlinedInput underlinedInput"
      "current current current current"
      "hourly hourly fiveday fiveday"
      "feelslike humidity fiveday fiveday";
    
  }

  #current-forecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "currentLocationCity currentLocationCity"
      "divider divider"
      "currentLocationTemp currentWeatherIcon"
      "currentLocationTempMinMax currentWeatherDesc";
  }

  #current-forecast .city {
    grid-area: currentLocationCity;
  }

  #current-forecast .h-divider{
    grid-area: divider;
    margin: 0;
    height: 2px;
  }

  #current-forecast .temp {
    grid-area: currentLocationTemp;
  }

  #current-forecast .icon {
    grid-area: currentWeatherIcon;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: var(--spacing-regular);
  }

  #current-forecast .description {
    grid-area: currentWeatherDesc;
  }

  #current-forecast .min-max-temp {
    grid-area: currentLocationTempMinMax;
  }
}
