.opacity-20{
  background-color: rgba(0,0,0,.2);
}

.bi-01d{
  background-image: url("../appImages/01d.jpg");
}

.bi-01n{
  background-image: url("../appImages/01n.jpg");
}

.bi-02d{
  background-image: url("../appImages/02d.jpg");
}

.bi-02n{
  background-image: url("../appImages/02n.jpg");
}
.bi-03d{
  background-image: url("../appImages/03d.jpg");
}
.bi-03n{
  background-image: url("../appImages/03n.jpg");
}
.bi-04d{
  background-image: url("../appImages/04d.jpg");
}
.bi-04n{
  background-image: url("../appImages/04n.jpg");
}
.bi-09d{
  background-image: url("../appImages/09d.jpg");
}
.bi-09n{
  background-image: url("../appImages/09n.jpg");
}
.bi-10d{
  background-image: url("../appImages/10d.jpg");
}
.bi-10n{
  background-image: url("../appImages/10n.jpg");
}

.bi-11d{
  background-image: url("../appImages/11d.jpg");
}
.bi-11n{
  background-image: url("../appImages/11n.jpg");
}
.bi-13d{
  background-image: url("../appImages/13d.jpg");
}
.bi-13n{
  background-image: url("../appImages/13n.jpg");
}
.bi-50d{
  background-image: url("../appImages/50d.jpg");
}
.bi-50n{
  background-image: url("../appImages/50n.jpg");
}